<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470058869958-2a77ade41c02?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Plants for <strong>everyone</strong>!</h1>
    <p>Happy and green spaces for all</p>
  </div>
</div>
<%# Search bar %>
<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: root_path, method: :get, class: "d-flex mt-4" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search by plant name"
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-primary btn-prim" %>
    <% end %>
  </div>
</div>

<%# plants container %>
<div class="container">
  <% if @plants.any? %>
    <div class="row">
      <% @plants.each do |plant| %>
        <div class="col-12 col-sm-6 col-lg-3 d-flex justify-content-center mb-4">
          <div class="card" style="width: 20rem;">
            <img src="<%= plant.image %>" class="card-img-top rounded mx-auto d-block" alt="<%= plant.name %>">
            <div class="card-body">
              <h5 class="card-title"><%= plant.name %></h5>
              <h6 class="card-subtitle mb-3 text-body-secondary"><%= plant.category %></h6>
              <p class="card-text">Level: <%= plant.level %>, price: <%= plant.price %>€</p>
              <div class="d-flex justify-content-center gap-3">
                <button type="button" class="btn btn-primary btn-prim" data-bs-toggle="modal" data-bs-target="#plantModal<%= plant.id %>">
                  Details
                </button>
                <%= form_with(url: cart_add_path) do |f| %>
                  <%= f.hidden_field :id, value: plant.id %>
                  <%= f.hidden_field :quantity, value: 1, min: 1 %>
                  <%= f.submit "Add to cart", class: "btn btn-primary btn-prim" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- Modale unique pour chaque plante -->
        <div class="modal fade bd-example-modal-lg" id="plantModal<%= plant.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel<%= plant.id %>" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-body d-flex flex-column align-items-center bubble">
                <!-- Contenu spécifique à chaque plante -->
                <img src="<%= plant.image %>" alt="<%= plant.name %>" class="img-fluid modal-img mb-3">
                <p><strong>Category:</strong> <%= plant.category %></p>
                <p><strong>Level:</strong> <%= plant.level %></p>
                <p><strong>Price:</strong> <%= plant.price %>€</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-prim">Save changes</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>No plants found matching your query.</p>
  <% end %>
</div>
